{:slack {:token "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" :channel "#test1"}
 :repos [{:url "ssh://git@bitbucket.org/xxx/yyy.git" }
         {:url "ssh://git@bitbucket.org/xxx/yyy.git" }]}
